<div id="<%= dom_id expense_category %>">
  <p>
    <strong>Name:</strong>
    <%= expense_category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= expense_category.description %>
  </p>

</div>
